
 
.hero{
    position:relative;
    width: 100%;
    height: 100%;
    
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 45px;
    color:white;
 }
 nav ul li{
    display: inline-block;
    list-style:none;
    padding: 10px 25px;
 }
 nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;

 }
 li a:hover{
    color: red;
    transform: 4s;
 }
 
 *{
padding: 0;
margin: 0;
font-family: sans-serif;
box-sizing: border-box;
background-color: #000;
 }
 .btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform.4s;
 }
 .btn:hover{
    transform: scale(1.2);
 }
 .logo{
   color: rgb(241, 234, 234);
   font-size: 35px;
   letter-spacing: 1px;
   cursor: pointer;

 }
 .content{
   position: absolute;
   top: 160%;
   left: 8%;
   margin-top: 10%; 
   
 }
h3{
   color: white;
   font-size: 25px;
   margin-bottom: 50px;
}
h1{
   color: white;
   margin: 20px 0px 20px;
}
h4{
   color: #fcfc;
   letter-spacing: 2px;
   font-size: 20px;
}
h2{
   margin-left: 0%;
   color: white;

}
.newslatter form{
   width: 380px;
   max-width: 100%;
   position: relative;
   color: white;
}
.newslatter form input:first-child{
   display: inline-block;
   width: 100%;
   padding: 14px 130px 14px 15px;
   color: white;
   border-radius: 30px;
   border: 2px solid #f9004d;
   outline:none;
}
.newslatter form input:last-child{
   position: absolute;
   display: inline-block;
   outline: none;
   border: none;
   padding: 10px 30px ;
   border-radius: 30px;
   background-color:#f9004d;
   color: violet;
   box-shadow: 0px 0px 5px #000, 0px 0px 15px #060505;
   top: 6px;
   right: 6px;

}
.about{
   margin-top: 34%;
   width: 100%;
   padding: 100px 0px;
   background-color: #000;
}


.about img{
   height: auto;
   width: 430px;
}
.main{
   width: 400px;
   max-width: 95%;
   margin: 0 auto;
   align-items: center;
   justify-content: space-around;
   display: flex;
}
.about-text h2{
   margin-left: 10%;
   color: white;
   font-size: 30pt;
   

}
.about-text  h5{
   margin-left: 10%;
   color: white;
   font-size: 20pt;
}
.about-text  p{
   margin-left: 10%;
   color: #fcfc;
   letter-spacing: 1px;
   line-height: 28px;
   font-size: 18px;
   margin-bottom: 45px;
}
button{
   background-color:#f9004d;
   color: white;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
   margin-left: 15%;
}
button:hover{
 background-color: transparent;
 border:  2px solid;
 cursor: pointer;
}


.SERVICE{
   background-color: #000;
   width: 100%;
   padding: 100px 0px;
}
.title h2
   {
      color: white;
      font-size: 75px;
      width: 1130px;
      margin: 30px auto;
      text-align: center;

}
.box {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 400px;
}
.card{
   height: 365px;
   width: 335px;
   padding: 20px 35px;
   background-color: #222121;
   border-radius: 20px;
   margin: 15px;
   position: relative;
   overflow: hidden;
   text-align: center;
}
.card i{
   font-size: 50px;
   display: block;
   text-align: center;
   margin: 25px 0px;
   color: #f9004d;
}
.card h5{
   color: white;
   font-size: 30px;
   margin-bottom: 15px;
   background-color:#222121; ;
 }
 .pra p{
   color: #fcfc;
   font-size: 16px;
   line-height: 27px;
   margin-bottom: 35px;
   background-color: #222121;
 }
.button1{
  
      background-color:#f9004d;
      color: white;
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 9px 22px;
      border-radius: 30px;
      transition: .4s;



 }
 .pra{
   background-color: #222121;
 }
 .images{
   margin-top: 40%;
   width: 440px;
   position: absolute;
   left: 1000px;

 }
 .hero h2{
   margin-left: 0%;
 }
